head
  //- title Welcome To My Page Buddy
  meta(charset="UTF-8")
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  )
  script(
    data-ad-client="ca-pub-3566337185147445"
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  )
  <!-- Global site tag (gtag.js) - Google Analytics -->
  script(
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-173486203-1"
  )
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-173486203-1');

  link(rel="icon" href="/assets/images/logo/logo.svg")
  link(
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"
    rel="stylesheet"
  )