extends ./components/main-layout.pug

block content
	section#cover
		img.lazy(loading="lazy"
			id="cover-image"
			src=""
			width="150"
			height="150"
			alt="Profile Random Picture")
		.cover-paragraph
			p.main-text.-title Hi Guys!
			p.main-text.-subtitle
				span.-grey-highlightIt is not another Meme's Page, its me in that picture.
			p.main-text I'm a 
				span.-highlight Web Developer  
				|  and blogger from 
				span.-strong Durango, Mexico.